:root {
  --mainColor:#eaeaea;
  --secondaryColor:#EAE7DC;

  --borderColor:c1c1c1;

/*  --mainText:black;*/
  --mainText:#E85A4F;
  --secondaryText:black;
}


html, body {
  padding: 0;
  margin: 0;
}

/*h1, h2, h3, h4, h5, h6, strong {
  color: var(--mainText);
  font-family: 'Russo One', sans-serif;
  font-weight: 500;
}

p, li, span, label, input, textarea {
  color: var(--secondaryText);
  font-family: 'Roboto Mono', sans-serif;
}*/

h1, h2, h3, h4, h5, h6, strong {
  color: var(--mainText);
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 500;
}

p, li, span, label, input, textarea {
  color: var(--secondaryText);
  font-family: 'Roboto Mono', sans-serif;
}

a{
  text-decoration: none;
  color: #E85A4F;
}

a:hover{
  color: #E98074;
}

ul{
  list-style: none;
}


li {
  list-style: none;
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}

.sticky-header{
 /* position: relative;
  padding: 0.2rem;
  background-color: #F5F5DC;*/
  position: sticky; /* Apply the sticky positioning */
  top: 0; /* Stick the element to the top of the viewport */
  z-index: 100; /* Ensure the navbar is above other content */
  background-color: #EAE7DC
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size:1.5rem;
  font-weight: bold;
  color: black;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}


.navbar .toggle-btn {
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.s1{
  background-color: var(--mainColor);
  border-bottom:1px solid var(--borderColor);
  overflow: auto;
}

.s2{
  background-color: var(--secondaryColor);
  border-bottom:1px solid var(--borderColor);
  overflow: auto;
}

.main-container{
  width: 1200px;
  margin: 0 auto;
}

.greeting-wrapper{
  display: grid;

  justify-content: center;
  align-content: center;
  min-height: 10em;
/*  border:2px dashed lightcoral;*/

}


.intro-wrapper{
  background-color: var(--secondaryColor);
  border:1px solid var(--borderColor);

  -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);

  display: grid;

  grid-template-columns: 1fr 1fr;

  grid-template-rows: 3em 20em;

  grid-template-areas:
    'left-column right-column'
    'left-column right-column'
  ;
}

.skills-wrapper{
  display: grid;

  grid-template-columns: 1fr 1fr;

  /*grid-template-rows: 3em 15em;*/

  grid-template-areas:
    'left-column right-column'
  ;
}

.work-exp-wrapper{
  display: grid;

  grid-template-columns: 1fr 1fr;

/*  grid-template-rows: 3em 15em;*/

  grid-template-areas:
    'left-column right-column'
  ;
}

.personal-projects-wrapper{
  display: grid;

  grid-template-columns: 1fr 1fr;

  /*grid-template-rows: 3em 15em;*/

  grid-template-areas:
    'left-column right-column'
  ;
}

.left-column{
  grid-area: left-column;
}

.right-column{
  grid-area: right-column;
}

.post-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap:20px;
/*  justify-content: center;*/
  padding-bottom: 50px;
}

.post{
  border: 1px solid var(--borderColor);

  -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
}

.thumbnail{
  display: block;
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.post-preview{
  background-color: #fff;
  padding:15px;
}

.post-title{
  color: black;
  margin: 0;
}

.post-intro{
  color: #4b5156;
  font-size: 16px;
}

/* Dropdown menu */
.dropdown-menu{
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
/*  background: rgba(255, 255, 255, 0.1);*/
/*  backdrop-filter: blur(15px);*/
  background: white;
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
  height: 240px;
}

.dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  background-color: var(--secondaryColor);
}

.section__container {
  width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
/*  grid-template-columns: repeat(2, 1fr);*/
  gap: 4rem;
  justify-content: center;
  align-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 0rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}


/* Responsive  */
@media screen and (max-width: 1200px) {
  .main-container, .navbar{
    width: 95%;
  }

  .navbar .links {
    display: none;
  }

  .navbar .toggle-btn{
    display: block;
  }

  .dropdown-menu {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .main-container, .navbar{
    width: 95%;
  }

  .navbar .links {
    display: none;
  }

  .navbar .toggle-btn{
    display: block;
  }

  .dropdown-menu {
    left: 2rem;
    width: unset;
  }
}

